body {
    font-family: Helvetica, Arial, sanserif;
    background: #cacaca;
    font-size: 80%;
}

.record {
    padding: 1ex;
    border: 1px solid;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    background: #ffffff;
}

.record h2 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.record dl {
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .record h2 {
        font-size: 100%;
    }
    
    .record dt {
        font-style: italic;
        font-size: 90%;
        padding-top: 1ex;
    }

    .record dd {
        margin-left: 0;
    }
}

@media (min-width: 601px) {
    .record h2 {
        font-size: 120%;
    }
    
    .record dt {
        clear: left;
        width: 5em;
        float: left;
        font-style: italic;
        text-align: right;
        padding-top: .5ex;
    }

    .record dd {
        clear: right;
        margin-left: 6em;
        padding-top: .5ex;
    }
}

